CODE/SQL/Layoffs/layoffs.csv
CODE/SQL/Layoffs/Layoffs_EDA.sql
CODE/SQL/Layoffs/Layoffs_DataCleaning.sql
CODE/SQL/Layoffs/Layoffs_CleanData.csv
CODE/SQL/OrionStar Sports/OrionStar_Sports_EDA.sql
CODE/SQL/OrionStar Sports/OrionStar_Sports_ERDiagram.mwb
CODE/SQL/OrionStar Sports/OrionStar_Sports_ERDiagram.png
