CODE/SQL/Layoffs/Layoffs_EDA.sql
CODE/SQL/Layoffs/Layoffs_DataCleaning.sql
CODE/SQL/Layoffs/Layoffs_CleanData.csv
CODE/SQL/Layoffs/layoffs.csv
CODE/Python/.ipynb_checkpoints/Python3 Practice new-checkpoint.ipynb
CODE/Python/Python3 Practice new.ipynb
CODE/Jupyter/.ipynb_checkpoints/Untitled-checkpoint.ipynb
CODE/Jupyter/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
CODE/Jupyter/Untitled.ipynb
CODE/Jupyter/Untitled1.ipynb
